* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

:root {
  --header-background: #8bd3dd;
  --button-background: #f582ae;
  --body-background: #fef6e4;
  --dark-text: #001858;
}

button {
  background-color: var(--button-background, fuchsia);
  padding: 1em 2em 1em 2em;
  border: 3px solid black;
  border-radius: 0.75em;
  font-weight: 600;
}

header {
  background-color: var(--header-background, lightblue);
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 2rem 0.5rem 10rem;
  align-items: center;
  border-bottom: 3px double black;
}

header > h1 {
  margin-right: auto;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;
}

@media (max-width: 40em) {
  header {
    flex-direction: column;
    padding: 1rem 0 1rem 0;
  }

  header > h1 {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}

.temp-toggle-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.active-temp {
  font-size: 1.5rem;
  font-style: italic;
}

.temp-toggle {
  font-size: 1.25rem;
}

form,
section {
  background-color: var(--body-background, beige);
}

form {
  text-align: center;
  padding-top: 1rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.25rem;
}

input {
  max-width: 70ch;
  border: 3px solid black;
  margin-bottom: 0.25rem;
}

section {
  text-align: center;
}
